@import "colors";
@import "helper";

.login-page {
  display: flex;
  justify-content: space-between;
  height: 100%;
  app-logo-left-block {
    flex: 1;
  }

  &__main {
    text-align: right;
    flex: 1;
    max-width: 370px;
    transform: translateY(150px);
    ::ng-deep .button {
      max-width: 200px;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 50px;
    &-title {
      color: $design-text-color;
      text-transform: uppercase;
      @include text-style('h2');
    }
  }
  &__block {
    align-items: flex-start;
    padding: 0 20px;
  }

  .password-content {
    margin-top: 20px;
  }

  .password-block {
    padding-right: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px -0.5px 0px 0px #00000033 inset;
    width: 100%;
    border: 1px solid #00000033;
    input {
      @include text-style('h3');
      border: none;
      border-radius: 10px 0 0 10px;
      background: none;
      padding: 12px 20px;
      width: 100%;
    }
    .eye-icon {
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .label {
    display: block;
    color: rgba(77, 77, 77, 0.5);
    @include text-style('h1');
    margin-bottom: 12px;
  }
}

//select css
.custom-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;

  .dropdown_phone_number {
    position: relative;
  }

  .code-block {
    margin-right: 3px;
  }

  &__input {
    flex: 1;
  }

  &__block {
    display: flex;
    align-items: stretch;
    position: relative;

    .country-code {
      height: 38px;
      box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.2) inset;
      gap: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      border-radius: 10px 0 0 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &__number {
        @include text-style('h3');
      }
    }

    input {
      @include text-style('h3');
      font-size: 11px;
      color: $design-text-color;
      width: 100%;
      height: 38px;
      padding: 12px 20px;
      border-radius: 0 10px 10px 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: none;
      box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.2) inset;
    }

    .arrow {
      border: 1px solid rgba(205, 205, 205, 1);
      cursor: pointer;
      background: rgba(227, 227, 227, 1);
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      img {
        transition: transform 0.3s ease;
      }
    }

    .arrow.open img {
      transform: rotate(180deg);
    }
  }

  .dropdown {
    box-shadow:
      0 0 8px 0 #0000002B,
      0 8px 20px -3px #00000026,
      0 -1.5px 0px 0px white40 inset,
      0 -0.5px 0px 0px #00000033 inset;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%);
    position: absolute;
    border: 1px solid white;
    backdrop-filter: blur(35px);
    border-radius: 15px;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    max-height: 220px;
    overflow-y: auto;
    z-index: 100;

    .dropdown-header {
      padding: 10px;
      text-align: right;

      .close {
        width: 18px;
        height: 18px;
        background: #E3E3E3;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: end;
      }
    }

    .dropdown-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;

        padding-left: 20px;
        cursor: pointer;
        gap: 20px;

        > * {
          flex: 1;
        }

        p {
          @include text-style('h3');
          max-width: 55px;
          padding: 16px 0;
          border-bottom: 1px solid $design-text-color50;
        }

        span {
          @include text-style('h3');
          padding: 16px 0;
          border-bottom: 1px solid $design-text-color50;
          color: $design-text-color;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        &.selected {
          background-color: $design-text-color50;

          > * {
            color: white;
          }
        }
      }
    }
  }
}

