.login-page {
  display: flex;
  justify-content: space-between;
  height: 100%;
  app-logo-left-block {
    flex: 1;
  }
  &__right-block {
    background: #FFFFFF;
    width: calc(100% - 902px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
