<main class="login-page">
  <app-logo-left-block/>
  <div class="right-block login-page__block">
    <div class="login-page__main">
      <div class="login-page__content">
        <h1 class="login-page__content-title">
          {{ 'global.loginTitle' | translate }}
        </h1>
          <form [formGroup]="loginForm">
            <!-- Select Country code and phone  -->
            <div class="custom-select">
              <div class="dropdown_phone_number">
                <div class="custom-select__block">
                  <div class="code-block">
                    <label class="label">{{ 'global.select_code' | translate }}</label>
                    <div class="country-code" (click)="toggleDropdown($event)">
                      <p class="country-code__number">
                        + {{ selectedCountry.countryCode }}
                      </p>
                      <span class="arrow" [class.open]="dropdownOpen">
                    <img src="assets/img/icon/icon_down.svg" alt="icon">
                   </span>
                    </div>
                  </div>

                  <div class="custom-select__input">
                    <label class="label" for="phone">{{ 'global.number_label' | translate }}</label>
                    <input
                      [mask]="phoneMask"
                      type="text"
                      [placeholder]="translateService.instant('global.number_label')"
                      id="phone"
                      formControlName="phoneNumber"
                      [validation]="true"
                      (keydown.enter)="onEnterKey('next')"
                    />
                    <div *ngIf="loginForm.get('phoneNumber')?.invalid && loginForm.get('phoneNumber')?.touched">
                      <span class="error-message">{{ "global.error_message" | translate }}</span>
                    </div>
                  </div>
                </div>
                <!-- Dropdown -->
                <div class="dropdown" *ngIf="dropdownOpen" #dropdown>
                  <div class="dropdown-header">
                    <span class="close" (click)="toggleDropdown($event)">×</span>
                  </div>
                  <ul class="dropdown-list" (click)="selectCountry($event)">
                    <li
                      *ngFor="let country of countries"
                      [class.selected]="country.countryCode === selectedCountry.countryCode"
                      [id]="country.countryCode"
                    >
                      <p>
                        + {{ country.countryCode }}
                      </p>
                      <span>
                {{ country.countryName }}
                </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="password-content" *ngIf="showPasswordInputBlock">
                <label for="password" class="label">{{ "global.password_label" | translate }}</label>
                <div class="password-block">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    id="password"
                    [placeholder]="translateService.instant('global.password_label')"
                    formControlName="password"
                    (keydown.enter)="onEnterKey('signIn')"
                  />
                  <span class="eye-icon" (click)="togglePasswordVisibility()">
                @if(!passwordVisible) {<img src="assets/img/icon/visibility-eye.svg" alt="Eye">} @else{<img src="assets/img/icon/visibility_off-eye.svg" alt="Eye">}
                </span>
                </div>
              </div>
            </div>
          </form>
      </div>
      @if(!showPasswordInputBlock) {
        <app-button (clickBtn)="verifyUser()" [disabled]="!loginForm.get('phoneNumber')?.invalid">
          {{'global.next' | translate }}
        </app-button>
      } @else {
      <app-button (clickBtn)="signIn()" [disabled]="this.loginForm.valid">
      {{ 'global.loginTitle' | translate }}
      </app-button>
      }
    </div>
  </div>
</main>
