/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'ngx-toastr/toastr';
@import "helper";

* {
  box-sizing: border-box;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

// global styles
.right-block {
  background: white;
  width: 100%;
  max-width: 455px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  @include text-style('h1');
  font-size: 11px;
  color: #FF4733;
}


input {
  &:-webkit-autofill {
    background-color: transparent !important; /* Removes autofill background */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Ensures the autofill background is overridden */
    box-shadow: 0 0 0px 1000px white inset !important; /* For better compatibility */
    color: inherit !important; /* Keeps the text color as it is */
  }
  &:focus {
    outline: none;
  }
}
